body {
	margin-left:3%;
	margin-right:2%;
	font-family: 'Lora', serif;
}

h2 {
	font-size: 1.8vw;
}

p {
	font-size: 1.1vw;
}

#containermaster {
float: left;
width: 50%;	
border: 2px solid #999;
border-radius: 12px;
padding: 1%;
margin-bottom: 2%;
cursor: pointer;
}

#box0 {
background-color: #A01D26;
color: white;
}

#container1to5 {
float: right;
width: 45%;
display: flex;
}

#container1and2, #container3and4and5 {
display: flex;
flex: 1 1 0;
flex-direction: column;
}

#container1, #container2 {
border: 2px solid #999;
border-radius: 12px;
padding: 1%;
margin-bottom: 2%;
cursor: pointer;
}

#container3, #container4, #container5 {
border: 2px solid #999;
border-radius: 12px;
padding: 1%;
margin-bottom: 2%;
margin-left: 5%;
cursor: pointer;
}

#container6and7and8, #container9and10and11 {
	display: flex;
	flex: 1 1 0;
	width: 70%;
}

#container6, #container7, #container8, #container9, #container10, #container11 {
border: 2px solid #999;
border-radius: 12px;
padding: 1%;
margin-bottom: 2%;
cursor: pointer;
}

#container7, #container8, #container10, #container11 {
	margin-left: 1.5%;
}

#box1, #box2, #box3, #box4, #box5 {
background-color: black;
font-size: 1vw;
text-align: center;
color: white;
border-radius: 12px;
}

#box6, #box7, #box8 {
background-color: #BBCF4A;
font-size: 1vw;
text-align: center;
color: white;
border-radius: 12px;
}

#box9, #box10, #box11 {
background-color: #E2DFA2;
font-size: 1vw;
text-align: center;
color: black;
border-radius: 12px;
}

#containermaster img, 
#container1 img, #container2 img, #container3 img, #container4 img, #container5 img,
#container6 img,  #container8 img, 
#container10 img, #container11 img {
	height: 90%;
	width: 100%;
}

#container7 img, #container9 img {
	height: 80%;
	width: 100%;
}




	



