body {
    background-image: url("FestiveDotsBackground.png");
    background-size: 60%;
    background-position: top right;
    background-repeat: no-repeat;
    font-family: 'Petrona', serif;
}

h1 {
	margin-top:1.5%;
	margin-left: 2%;
}

form {
display: inline-block;
margin-left: 2.7%;
}

#add{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#add:hover{
cursor: pointer;
opacity: .8;}

#greetingToShow{
	margin-left: 1%;
	margin-top: 0%;
	position: relative;
}

#adjusth3 {
	margin-left: 4%;
}

#adjusth4 {
    margin-left: 4%;
    float: left;
    margin-top:0%;	
}

.intro{
	margin-left:2%;
	width: 32%;
}

.instructions {
  margin-left: 1%;
  width: 36%;
  float:left;
}

.fontbuttons {
  padding: 20px;
  float: left;
}

.colorbuttons {
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#button1, #button2, #button3, #button4, #button5, #button6 {
	display: block;
	width: 200px;
	height: 33px;
	font-weight: bold;
	font-size: 1em;
	border-color: none;
	margin-top: 8px;
	background-color: #FFFFFF;
}

#button1 {
	font-family: 'Dosis', sans-serif;
}

#button2 {
	font-family: 'Kurale', serif;
}

#button3 {
	font-family: 'Indie Flower', cursive;
}

#button4 {
	font-family: 'Bubbler One', sans-serif;
}

#button5 {
	font-family: 'Courgette', cursive;
}

#button6 {
	font-family: 'Englebert', sans-serif;
}

#button7, #button8, #button9, #button10, #button11, #button12, #button13, #button14 {
	width: 50px;
	height: 22.8px;
	border-color: none;
	margin-top: 8px;
	display: block;
}

#button7 {
	background-color: #698B69;
}

#button8 {
    background-color: #CD9B1D;
}

#button9 {
    background-color: #9C661F;
}

#button10 {
	background-color: #CD3333;
}

#button11 {
	background-color: #C67171;
}

#button12 {
	background-color: #8E388E;
}

#button13 {
	background-color: #33A1C9;
}

#button14 {
	background-color: #5F9EA0;
}

#erase {
	background-color: #DC143C;
	width: 60px;
	height: 25px;
	color: white;
	margin-left:10px;
	margin-top: 0%
}

#areatowrite{
			width:60%;
			height: 390px;
			border:1px solid gray;
			float:right;
			margin-right: 2px;
	
}

#footnote1 {
	font-size: 70%;
	position:fixed;
    bottom: 0;
}
