.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

body {
	background-color: #cad2c5;
}

#box1, #box2 {
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  gap: 5vw;
}

#box2 {
	font-family: 'Lora', serif;
}

#myname {
	font-size: 6vw;
	font-family: 'VT323', monospace;
	margin-top: 3vw;
	margin-bottom: 3vw;
}

#portfoliopic {
  max-width: 22.5vw;
  height: auto;
}

#contactdetails {
	margin-top: 0;
}

p {
	font-size: 1.4vw;
}

#button1 {
    margin-left: 15vw;
	font-family: 'Lora', serif;
	font-size: 2vw;
	background-color: #219ebc;
	border-color: rgba(105, 157, 182, 0.3);
	border-shadow: 0 2px 0 rgba(0,0,0,0.5);
	color: #FFF;
	width: 22.5vw;
	cursor: pointer;
	}

#button1:hover {
	background-color: #ff928b;
	color: black;
	border-color: rgba(0,0,0,0.75);
	}
