.to-the-left {
	width: 40%;
	float: left;
}

h1, h3, .message {
	text-align: center;
	font-family: Garamond, serif;
}

h2 {
	font-family: 'Concert One', cursive;
}

#body {
	font-family: 'Esteban', serif;
	margin-left: 40%;
}

.credits {
	font-family: Garamond, serif;
	margin-left: 40%;
}

#footnote1 {
	font-family: Garamond, serif;
	font-size: 80%;
	position:fixed;
    bottom:2.5%;
}

#footnote2 {
	font-family: Garamond, serif;
	font-size: 80%;
	position:fixed;
    bottom:0%;
}

#opensource {
	font-family: Garamond, serif;
	font-size: 100%;
	position:fixed;
    bottom:10%;
    width: 15%; 
    padding: 1%;
    word-wrap: normal;
}

.button {
	text-align: center;
	font-family: 'Lobster', cursive;
}

.wrapper {
    text-align: center;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}