h1, h3 {
	text-align: center;
	font-family: Garamond, serif;
}

#body, #author, #translator {
	font-family: Garamond, serif;
}

h2, .button {
	text-align: center;
	font-family: 'Lobster', cursive;
}

p, #body {margin-left: 40%;}

.wrapper {
    text-align: center;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}