

@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

#content{
  width: 70%;
  margin: auto;
}

#sources{
  width: 70%;
  margin: auto;
}

#Hypothesis {
    height: 130px;
    width: 100%;
    border-style: solid;
    border-color: #B8860B;
    text-align: center;
}

h1 {
text-align: center;
font-family: 'Merriweather', sans-serif;
color: #B8860B
}

h3 {
font-family: 'Merriweather', sans-serif;
color: #B8860B
}

h3.InTitle {
text-align: center;
font-family: 'Merriweather', sans-serif;
}

h4 {
font-family: 'Merriweather', sans-serif;
}

img {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p { 
font-size: 20px; 
font-family: 'Crimson Text', sans-serif;
}

p.Small3 {
  font-size: 14px;
}

ul { 
font-size: 20px; 
font-family: 'Crimson Text', sans-serif;
margin-bottom: 40px;
}

li { 
font-size: 20px; 
font-family: 'Crimson Text', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}


     /* Scatterplot graph*/
      .axis path,
      .axis line {
       fill: none;
       stroke: #000;
       shape-rendering: crispEdges;
       }

      .dot {
      stroke: none;
      opacity: 0.7;
      fill: #458B00;
      }

    .class {
      margin-top: 20;
      margin-bottom: 30;
      margin-left: 100;
      margin-right: 20;
    }


    .tooltip {
     position: absolute;
     width: 170px;
     height: 75px;
     padding: 3px 8px;
     /*border: 1px solid #8B5A00;*/
     font-weight: bold;
     color: #8B5A00;
     pointer-events: none;
}